:root {
    --orange-color: #F8931D;
    --orange-color-light: #ffc98a;
    --orange-color-dark: #c07218;
    --purple-color: #622D8F;
    --purple-color-light: #e9d3fd9f;
    --purple-color-dark: #48206b;

}